<launch>
  <!-- traffic sign detection -->
  <arg name="mission" default="construction" doc="mission type [intersection, construction, parking, level_crossing, tunnel]"/>
    <node pkg="turtlebot3_autorace_detect" type="detect_$(arg mission)_sign" name="detect_$(arg mission)_sign" output="screen">
      <remap from="/detect/tb3_1/image_input" to="/tb3_1/camera/image_compensated" />
      <remap from="/detect/tb3_1/image_input/compressed" to="/tb3_1/camera/image_compensated/compressed" />
      <remap from="/detect/tb3_1/image_output" to="/detect/tb3_1/image_traffic_sign" />
      <remap from="/detect/tb3_1/image_output/compressed" to="/detect/tb3_1/image_traffic_sign/compressed" />    
    </node>
</launch>